.nav{
	background-color: rgba(255, 255, 255, 0.2);
	position:absolute;
	top:0px;
width:100vw;
line-height: 40px;

}
.userBox{
position: fixed;
right:0px;
border-width:20px;
border-color: white;
background-color:white;
top: -300px; 
min-width: 200px;
border-radius: 10px;
box-shadow: -2px 0 5px rgba(0,0,0,0.1);
transition: left 0.3s ease; 
z-index: 1000;
padding:0.5rem;
}
.userBoxOpen{
	top:40px;
}
.userToggleBtn {
position:absolute;
right:0px;
top:0px;
width: 40px;
height: 40px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-around;
background: white;
padding: 8px;
border-radius: 50%;
border: none;
z-index:999;
}
.userToggleBtn:active {
transform: translateY(1px);
}
.userToggleBtn:hover {
background-size:cover ;
transform: translateY(-2px);
}
.userCloseButton{
box-shadow: -2px 0 5px rgba(0,0,0,0.1);
transition: left 0.3s ease; 
z-index: 10001;
}
.userCloseButton:active {
transform: translateY(1px);
}
.userCloseButton:hover {
	background-size:cover ;
	transform: translateY(-2px);
}
.sidebar {
position: fixed;
top: 0;
background-color: white;;
left: -300px; 
width: 300px;
height: 100%;
background-color: #ffffff;
box-shadow: -2px 0 5px rgba(0,0,0,0.1);
transition: left 0.3s ease; 
z-index: 1000;
}
.header{
font-family: Sans-Serif font,serif font ;
backdrop-filter: blur(10px); 
background-color: rgba(255, 255, 255, 0.2);
box-shadow: 1cap;
text-align: left;
position: absolute;
left:40px;
top: 0px;
}
.closeButton{
position: fixed;
bottom:0px;
left: -300px; 
background-color: #ffffff;
box-shadow: -2px 0 5px rgba(0,0,0,0.1);
transition: left 0.3s ease; 
z-index: 10001;
padding: 20px;
}
.closeButton:active {
	transform: translateY(2px);
}
.closeButton:hover {
	background-size:cover ;
	transform: translateY(-2px);
}
.closeOpen {
left:0px;
}
.sidebarOpen {
left: 0;
}
.toggleBtn {
position:absolute;
left:0px;
width: 40px;
height: 40px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-around;
background: #333;
padding: 8px;
border-radius: 4px;
border: none;
z-index:999;
}

/* Individual lines inside the hamburger */
.line {
width: 100%;
height: 3px;
background-color: white;
border-radius: 2px;
}

.form{
margin:10px;
display: inline;
color:rgba(40, 40, 40, 1);
text-align: center;
line-height: 1px;
text-align: end;
font-size:1.3rem;
font-style: bold;
line-height: 150%;
}

.loginCard {
margin-top:4rem;
display: flex;
flex-direction: column;
align-items: center;
background-color:#1E293B; 
border-radius: 20px;
padding: 20px;
color:white;
box-shadow: 0 15px 35px rgba(0,0,0,0.5);
text-align: start;

}
.headerContent{
line-height:150%;
margin-top:20px;
}
:global(*) {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Sans-Serif font,serif font ;
}
.container {
	font-family: Sans-Serif font,serif font ;
	align-items: center;
	display: flex;
	  flex-direction: column;
	  min-height: 100vh; 
	  width: 100vw;
	  background-color: #0F172A;
	/* background-image: url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?auto=format&fit=crop&q=80&w=2000");
	background-size: cover;
	  background-position: center;
	  background-attachment: fixed; 
	  justify-content: flex-start; */
	}
	

.textButton {
font-family: Sans-Serif font,serif font ;
position: relative;
text-align: center;
width:140px;
box-shadow: 0 15px 35px rgba(0,0,0,0.5);;
/* background-color:rgba(0,0,255,0.4); */
color: rgb(0, 0, 0);
border-width:0px;
border-radius: 2px;
cursor: pointer;
font-size:1rem;
font-weight: 800;
transition: background 0.2s ease;
}
.textButton:focus{
background-size:cover ;
border-width: 0px;
outline-color:wheat;
outline-width: 0px;
transform: translateY(-2px);
}
.actionButton {
	margin-left: 15px;
font-family: Sans-Serif font,serif font ;
position: relative;
text-align: center;
width : 250px;
margin-bottom:1.5rem;
background-color: #0EA5E9;
box-shadow: 0 15px 35px rgba(0,0,0,0.5);;
/* background-color:rgba(0,0,255,0.4); */
color: rgb(0, 0, 0);
padding: 0.6rem 1.2rem;
border-width:0px;
border-radius: 8px;
cursor: pointer;
font-weight: 800;
transition: background 0.2s ease;
}
.actionButton:hover {
background-size:cover ;
transform: translateY(-2px);
background-color:#8B5CF6;
}
.actionButton:active {
transform: translateY(1px);
}
.tableWrapper{
min-width: 280px;
font-family: Sans-Serif font,serif font ;
/* background: rgba(255, 255, 255, 0.4);  */
background:rgba(0, 255, 255,0.5); 	display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 8px;
box-shadow: 0 15px 35px rgba(0,0,0,0.5);
margin-bottom: 2rem;
}

.tableHead{
font-size: 38px;
margin-bottom: 0.5rem;
text-align: start;
font-size: 20px;
font-style: normal;
font-weight: lighter;
}
.link{
	text-decoration: none;
	color:white;
}
.link:hover{
	transform: translateY(-2px);
}
.tableData{
margin-top: 2rem;
padding-left: 2px;
color:rgba(40, 40, 40, 1);
margin-top: 0.25rem;
margin-bottom: 0.25rem;
text-align: left;
font-weight: light;
font-size: 20px;
}
